<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lunna</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

  <main class="home-centrato">
        <section class="hero-centrato">
            <h1>Benvenuto su Lunna</h1>
            <a th:href="@{/login}" class="btn-hero">Registrati per rimanere aggiornato</a>
        </section>
        
        <div class="home-links">
            <a th:href="@{/categorie}" class="home-card-centrato">
                <h3>Categorie</h3>
                <p>Esplora le nostre categorie</p>
            </a>
            <a th:href="@{/prodotti}" class="home-card-centrato">
                <h3>Catalogo</h3>
                <p>Scopri tutti i prodotti</p>
            </a>
            <a th:href="@{/carrello}" class="home-card-centrato">
                <h3>Carrello</h3>
                <p>Vedi il tuo carrello</p>
            </a>
            <a th:href="@{/ordini}" class="home-card-centrato" th:if="${utenteCorrente != null}">
                <h3 Ordini</h3>
                <p>I tuoi ordini</p>
            </a>
        </div>
    </main>
	
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>